.Graph {
  box-sizing: border-box;
  width: 854px;
  height: 900px;
  padding: 32px;
  padding-left: 24px;
}

.LineChart {
  /* border-bottom: 1px solid black; */
  /* border-left: 1px solid black; */
}

.Inactive {
  opacity: 0.3;
}
