.ui.fluid.search.SearchInput {
  margin: 80px 32px 16px 32px;
}

.ui.fluid.search.SearchInput input.prompt {
  width: 474px;
  height: 60px;
  border-radius: 4px;
}

.ui.fluid.search.SearchInput input.prompt::placeholder {
  width: 399px;
  height: 60px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #8383af;
}

.ui.fluid.search.SearchInput > .results {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ui.fluid.search.SearchInput > .results .result {
  height: 44px;
  max-height: 44px;
  position: relative;
}

.ui.fluid.search.SearchInput > .results .result:hover {
  background: #ececf7;
  cursor: pointer;
}

.SearchInput .OwnerRepo > span:first-of-type {
  color: #8383af;
  font-family: 'Apercu', 'Roboto';
}

.SearchInput .OwnerRepo > span:nth-of-type(2) {
  font-family: 'Avenir Next', 'Roboto';
}

/* 


.SuggestedItem {
  width: 399px;
  max-width: 399px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-family: 'Apercu', 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

  color: #8383af;

  position: absolute;
  top: 50%;
  height: 22px;
  margin-top: -11px;
}

.SuggestedItem > .Repo {
  font-family: 'Avenir Next', 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
} */
