html {
  font-family: 'Roboto';
}
.ui.search {
  width: 474px;
  margin-top: 80px;
}

.search .input {
  width: 474px;
  height: 60px;
  border-radius: 4px;
}

.ui.search .prompt {
  border-radius: 4px;
}

input[type="text"].prompt::placeholder {
  color: #8383AF;
  font-size: 16px;
  line-height: 18.75px;
}

.ui.search>.results {
  margin-top: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.ui.search>.results .result > .container {
  width: 399px;
  height: 44px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #8383AF;


  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}

.ui.search>.results .result:hover {
  background: #ECECF7;
}

.list:hover {
  background: green;
  cursor: pointer;
}

.listItem:hover {
  opacity: 0.5;
}